
                /*          DEBUG           */
.debug header{
    background-color: blue;
}

.burgerMenu{
    width: 1rem;
}




.debug main>:nth-child(odd){
    background-color: green;
    color: white;
}

.debug main>:nth-child(even){
    color: black;
}


.debug main .img{
    height: 150px;
    background-color: yellow;
}

.line{
    background-color: black;
    width: 4rem;
    height: 3px;
}
.fa-star{
    /* background-color: black; */
    width: 2rem;
    font-size: 1.5rem;
    color: black;

    transform: translate(3px);
}
.roles{
    background-color: lightcyan;
    height: 1rem;
}




.debug footer{
    background-color: blue;
}

/* .debug footer>*{
    height: .5rem;
} */
.debug footer>:last-child{
    background-color: purple;
}



.rounded-05{
    border-radius: 5%;
}

.mt_header-height{
    margin-top: 56px;
}

form>*+*{
    margin-top: 1rem;
}

.form-control:focus{
    box-shadow: none;
}

.fa-minus{
    font-size: .3rem;
}

footer .credits>*+*{
    margin-top: 2rem;
}